body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden; }

/*CAROUSEL*/
.carousel-inner {
  max-height: 39rem; }

.mapa {
  background: url(../Images/mapa2.png);
  width: 100%;
  height: 500px;
  margin-top: 50px; }

#local {
  background: #f3f3f3;
  padding-bottom: 300px;
  display: flex;
  justify-content: center; }

.wrapper {
  width: 50%;
  margin-left: 100px;
  padding-top: 150px; }

/*ACA ESTA BEM - SASS*/
.box-nav {
  background-color: pink; }
  .box-nav .box-nav-space {
    padding: 10px; }

.box-footer {
  background-color: pink; }
  .box-footer .box-footer-left {
    padding-top: 20px; }
